.feature__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feature__info > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.badge {
  background: #9b93f3;
  background: -webkit-linear-gradient(to left, #9b93f3, #7468f0);
  background: linear-gradient(to left, #9b93f3, #7468f0);
  color: white;
  max-height: 20rem;
  border-radius: 1rem;
  margin-right: 1rem;
  justify-content: center;
  text-align: center;
  padding: 1rem 0 1rem 0rem;
  transition: all 150ms ease-in;
}

.badge:hover {
  transform: scale(1.02);
}

.badge > div {
  position: relative;
}

.badge > div > h2 {
  margin-top: 7rem;
}

.graph {
  flex: 1;
  flex-wrap: wrap;
}

.graph > div {
  flex-wrap: wrap;
  max-height: 20rem;
  flex: 1;
}

.symbol {
  background-color: #7468f0;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.metaBadge {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sub__feature {
  display: flex;
  flex-direction: column !important;
  background: white;
  margin-top: 2rem;
  border-radius: 1rem;
  transition: all 150ms ease-in;
}
.sub__feature:hover {
  transform: scale(1.02);
}
.sub__feature-info {
  display: flex;
  flex-direction: row;
  border-bottom: 0.1rem rgb(235, 240, 249) solid;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.sub__feature-info > div {
  flex: 1;
}

.view-details {
  display: flex;
  flex-direction: column;

  position: relative;
}

.view-details > h3 {
  position: absolute;
  top: 5.5rem;
}

.view-details > h3 > span {
  color: #4ccf86;
}

.view-details > p {
  position: absolute;
  color: #ababab;
  font-size: 1.5rem;
  top: 3rem;
}

.view-details > button {
  background: #7468f0;
  color: white;
  font-size: 1.6rem;
  text-transform: inherit;
  margin-top: 10rem;
  position: relative;
}

.right-arrow {
  position: absolute;
  left: 21.5rem;
}

.view-details > button:hover {
  color: #7468f0;
}

.view-details-2 {
  position: relative;
}

.week__info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 2rem;
  font-size: 1.2rem;
}

.view-details-3 {
  display: flex;
  flex-wrap: wrap;
}

.view-details-3 > div {
  padding: 1rem;
  flex: 1;
  min-width: 40%;
}

.base {
  width: 100%;
  height: 0.8rem;
  border-radius: 5rem;
}

.purple {
  background: #f2f0fe;
}

.purple > div {
  width: 50%;
  border-radius: 5rem;
  height: 0.8rem;
  background: #8379f2;
}

.orange {
  background: #fff5ee;
}

.orange > div {
  width: 60%;
  border-radius: 5rem;
  height: 0.8rem;
  background: #ffa146;
}

.red {
  background: #fdefef;
}

.red > div {
  width: 80%;
  border-radius: 5rem;
  height: 0.8rem;
  background: #ea5455;
}

.green {
  background: #ecf9f2;
}

.green > div {
  width: 90%;
  border-radius: 5rem;
  height: 0.8rem;
  background: #28c76f;
}

.view-details-4 {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.view-details-4 > div {
  text-align: center;
  color: #8e8e8e;
}

.trackers {
  text-align: center;
  margin: auto;
}

.margin {
  margin-left: 2rem;
}
